:root {
  --font-family: 'Roboto Slab', sans-serif;

  --colors-white: #ffffff;
  --colors-error: #af4545;
  --colors-night-rider: #333333;
  --colors-dark-purple: #9d297b;

  --radius-10: 10px;
  --radius-30: 30px;

  --animation-timing: .3s;
  --animation-transition: ease-in-out;
}